<nav>
  <ul>
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/login']">Login</a></li>
    <li><a [routerLink]="['/list']">Product List</a></li>
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>

<!-- <nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{pageTitle}}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Home</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/products']">Product List</a></li>
  </ul>
</nav>
<div class='container-fluid'>
  <router-outlet></router-outlet>
</div> -->